<h1>Edit <%= tag.name %></h1>

<form action="/tags/<%=tag.id%>" id="edit-tag">
    <div class="form-group">
        <label for="name">Tag Name:</label>
        <input type="text name="name" class="form-control" value="<%=tag.name%>">
    </div>
    <input type="submit" value="Change It!" class="btn btn-success">
</form>
