<h3> All the authors are belong to us</h3>

<% authors.forEach(function(author){ %>
    <div>
        <h2><a href="/authors/<%=author.id%>">
            <%=author.name %>
        </a></h2>
    </div>
<% }); %>
